<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>vue控制流指令</title>
  <script src = "vue.js"></script>
</head>
<body>
  <!-- ##################### v-if -->

  <div id = "app1">
    <p v-if="message">{{message}}</p>
    <input type="text" v-model = "message">
    <p v-if="message == 'Maythelos'">Hello Maythelos!</p>
  </div>

  <script>
    let app1 = new Vue({
      el: '#app1',
      data: {
        message: 'this is v-if'
      }
    })
  </script>
  <!-- ##################### -->
  <hr>
  <!-- ##################### 计算属性 -->
  <p>计算属性</p>
    <div id = "app2">
      <table border = "1">
        <th>name</th>
        <th v-for="sub in subject">{{sub}}</th>
        <th>totalPoint</th>
        <tr v-for = "(student,index) in gradeList">
          <td>{{student.name}}</td>
          <td><input type="text" v-model.number = "student.Atk"></td>
          <td><input type="text" v-model.number = "student.Dfn"></td>
          <td><input type="text" v-model.number = "student.Spd"></td>
          <td>{{student.Atk + student.Dfn + student.Spd}}</td>
        </tr>
        <tr>
          <th>sum</th>
          <td>{{Atk_sum}}</td>
          <td>{{Dfn_sum}}</td>
          <td>{{Spd_sum}}</td>
          <td>{{Atk_sum + Dfn_sum + Spd_sum}}</td>
        </tr>
        <tr>
          <th>avg</th>
          <td>{{Atk_avg}}</td>
          <td>{{Dfn_avg}}</td>
          <td>{{Spd_avg}}</td>
          <td>{{sum_avg}}</td>
        </tr>
      </table>
    </div>

    <script>
      let app2 = new Vue({
        el: '#app2',
        data: {
          subject: [
            'Atk','Dfn','Spd'
          ],
          gradeList: [
            {name: 'Maythelos', Atk: 88, Dfn: 86, Spd: 77},
            {name: 'Massia', Atk: 75, Dfn: 62, Spd: 94},
            {name: 'Adela', Atk: 79, Dfn: 75, Spd: 81},
            {name: 'Morgen', Atk: 75, Dfn: 95, Spd: 68},
            {name: 'Faker', Atk: 97, Dfn: 68, Spd: 83},
          ],
        },
        computed: {
          Atk_sum: function () {
            let sum = 0
            for(let i=0; i < this.gradeList.length; i++ ){
              sum += this.gradeList[i].Atk
            }
            return sum
          },
          Dfn_sum: function () {
            let sum = 0
            for(let i=0; i < this.gradeList.length; i++ ){
              sum += this.gradeList[i].Dfn
            }
            return sum
          },
          Spd_sum: function () {
            let sum = 0
            for(let i=0; i < this.gradeList.length; i++ ){
              sum += this.gradeList[i].Spd
            }
            return sum
          },
          Atk_avg: function () {
            return this.Atk_sum/(this.gradeList.length)
          },
          Dfn_avg: function () {
            return this.Dfn_sum/(this.gradeList.length)
          },
          Spd_avg: function () {
            return this.Spd_sum/(this.gradeList.length)
          },
          sum_avg: function () {
            return (this.Atk_sum + this.Dfn_sum + this.Spd_sum)/(this.gradeList.length)
          }
        }
      })
    </script>
  <!-- ##################### -->

</body>
</html>
