<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>vue控制流指令</title>
  <script src = "vue.js"></script>
</head>
<body>
  <!-- ##################### v-if -->

  <div id = "app1">
    <p v-if="message">{{message}}</p>
    <input type="text" v-model = "message">
    <p v-if="message == 'Maythelos'">Hello Maythelos!</p>
  </div>

  <script>
    let app1 = new Vue({
      el: '#app1',
      data: {
        message: 'this is v-if'
      }
    })
  </script>
  <!-- ##################### -->
  <hr>
  <!-- ##################### 计算属性 -->
  <p>计算属性</p>
    <div id = "app2">
      <table border = "1">
        <th>name</th>
        <th v-for="sub in gradeList[0].subject">{{sub}}</th>
        <th>totalPoint</th>
        <tr v-for = "(student,index) in gradeList">
          <td>{{student.name}}</td>
          <td v-for = "grade in student.grade">{{grade}}</td>
          <td>{{sum}}</td>
          <td>{{student.grade[0]+student.grade[1]+student.grade[2]}}</td>
          <td onready="alert(1)">{{index}}</td>
        </tr>
      </table>
    </div>

    <script>
      let app2 = new Vue({
        el: '#app2',
        data: {
          gradeList: [
            {name: 'Maythelos', subject: ['Math','English','History'], grade: [82,71,100]},
            {name: 'Massia', subject: ['Math','English','History'], grade: [75,95,88]}
          ],
          ind: 0
        },
        computed: {
          sum: function () {
            let sum = 0
            for(i = 0; i<this.gradeList[1].grade.length; i++) {
              sum += this.gradeList[1].grade[i];
            }
            return sum
          }
        },
        method: {
          sumGrade: function (num) {
            console.log(1)
          }
        }
      })
      console.log(app2.gradeList[0].subject)
    </script>
  <!-- ##################### -->

</body>
</html>
